/* Reset CSS */

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Form Login */

.login-title {
    font-size: 230%;
    padding-top: 5%;
    padding-bottom: 1%;
}

.background-form-login {
    background-color: rgb(246, 240, 202);
    height: 58vh;
    border-radius: 6px;
}

.background-form-signup {
    background-color: rgb(246, 240, 202);
    border-radius: 6px;
}

.padding-form-login {
    padding: 5% 5% 5% 5%;
}

.padding-form-login2 {
    padding: 5% 5% 8.8% 5%;
}

ul.style-form-login {
    list-style: none;
}

li.padding-text {
    padding-top: 0%;
}

li.padding-item {
    padding-bottom: 5%;
}

li.padding-item>h4 {
    font-size: bold;
}

li.padding-text>h5 {
    font-style: none;
    font-size: 100%;
    font-weight: 300;
}

input.form-login-input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    font-size: 1rem;
    padding: 12px 12px;
    border-color: red;
}

input.form-signin-input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    font-size: 1rem;
    padding: 12px 12px;
    border: 1px solid rgb(162, 166, 176);
}

.form-login2-to-signup-button {
    display: flex;
    align-items: center;
}

.form-login2-to-signup-button a {
    text-decoration: none;
}

.form-login2-to-signup-button a.button,
.form-login2-to-signup-button button.button {
    display: inline-block;
    margin-top: 2%;
    margin-right: 10%;
    padding: 3%;
    font-size: 100%;
    color: white;
    text-decoration: none;
    background-color: #ffa500;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    cursor: pointer;
}

.form-login2-to-signup-button a.button:hover {
    background-color: #333;
}

.form-login2-to-signup-button button:hover {
    background-color: #333;
}

.form-login2-to-signup-button a.forgot-text:hover {
    text-decoration: underline;
}

.form-login2-list {
    text-decoration: none;
}

.form-login-text {
    font-weight: 700;
    font-size: 130%;
}

.form-login2-list ul {
    padding-left: 40px;
}

.form-login2-list {
    margin-top: 5%;
    margin-bottom: 5%;
}

.form-login3-to-signup-button {
    text-align: center;
}

.form-login3-to-signup-button a {
    text-decoration: none;
}

.form-login3-to-signup-button a.button {
    display: inline-block;
    text-align: center;
    margin-top: 1%;
    padding: 1%;
    font-size: 100%;
    color: white;
    text-decoration: none;
    background-color: rgb(250, 54, 54);
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    cursor: pointer;
}

.form-login3-to-signup-button button.button {
    display: inline-block;
    text-align: center;
    margin-top: 1%;
    padding: 1% 4%;
    font-size: 150%;
    color: white;
    text-decoration: none;
    background-color: #ffa500;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    cursor: pointer;
}

.form-login3-to-signup-button button.button:hover {
    background-color: #333;
}